<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>

        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
         <link href="/js/bootstrap.min.js" type="text/javascript" />
         <th:block th:include="/_menu"></th:block>
        <title>Invoice Registration</title>
    </head>
    <body>
        <div class="container">
             <div class="card bg-light" style="padding:10px">
                <h4 class="card-title mt-3 text-center">Update your invoice details</h4>
                <p class="text-center">Please edit your details below</p>

                <form th:action="@{/invoice/invoiceUpdate}" method='POST' th:object="${invoiceUpdate}" >
                    <input type="hidden" name="ID" th:field="*{invoiceId}">
                    <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                           th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
                        error</p>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                         </div>
                        <div><input name="invoiceName" th:field="*{invoiceName}" class="form-control" placeholder="Invoice name" type="text"></div>
                        <div class="alert alert-danger " th:each="error: ${#fields.errors('invoiceName')}" th:text="${error}"></div>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Brief Description of Articles/Goods/Services being procured: </th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Unit Price</th>
                                <th scope="col">Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="row, rowIndex : *{invoiceRows}">
                                <td><input th:field="*{invoiceRows[__${rowIndex.index}__].description}" /></td>
                                <td><input th:data1="${row.quantity}" th:field="*{invoiceRows[__${rowIndex.index}__].quantity}"/></td>
                                <td><input th:field="*{invoiceRows[__${rowIndex.index}__].price}" /></td>
                                <td><span th:text="${row.total}"> Total </span></td>
                                <td style="display:none"><input th:field="*{invoiceRows[__${rowIndex.index}__].rowId}" /></td>
                            </tr>
                            <tr>
                                <td>Total (CHF)</td>
                                <td></td>
                                <td></td>
                                <td> <span th:text="*{totalAmount}"> Total </span></td>
                            </tr>
                        </tbody>
                    </table>


                    <!-- <div class="form-group">
                         <a th:href="@{/invoice/updateAddNewRow}" class="btn btn-primary a-btn-slide-text"><span class="glyphicon glyphicon-edit"></span><span><strong>Add Row</strong></span></a>
                    </div> -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Update invoice  </button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>