<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Access Denied</title>
        <th:block th:include="/_linkImports"></th:block>
    </head>
    <body>
        <th:block th:include="/_menu"></th:block>
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>I am sorry but you do not have permission to view this page.</h3>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>