<nav class="navbar navbar-expand-sm bg-light list-inline justify-content-center" >
    <ul class="navbar-nav " >
        <li class="nav-item">
            <a class="nav-link" th:href="@{/invoice/invoiceDashboard}">Home</a>
        </li>

        <li class="nav-item">
             <a class="nav-link" th:if="${#request.userPrincipal != null}" th:href="@{/invoice/invoiceCreation}">Create Invoice</a>
        </li>

        <li class="nav-item">
             <a class="nav-link" th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>