<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Error</title>
        <th:block th:include="/_linkImports"></th:block>
    </head>
    <body>
        <th:block th:include="/_menu"></th:block>
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>I am afraid you have encountered an error, something has gone wrong on our server or you have gone somewhere unexpected, please try again, thank you.</h3>
                    </div>
                </div>
            </div>
         </div>
    </body>
</html>